$event-color: white;
body{
  font-family: 'Roboto', sans-serif;
}
.content-header{
  .title{
    color: rgb(235, 123, 42);
  }
}
.nav{
  display: flex;
  align-items: center;
  .btn-signup{
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    box-shadow: none;
    border: solid 1px black;
  }
  .btn-list{
    border-radius: 5px;
    background-color: rgb(22, 117, 217);
    color: white;
    padding: 5px;
    box-shadow: none;
    border: solid 1px rgb(22, 117, 217);
  }
  li{
    padding: 7px;
  }
}
.event-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.event{
  position: relative;
  overflow: hidden;
  align-items: center;
  max-height: 200px;
  margin: 5px;
  border-radius: 10px;
  p{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: $event-color;
    font-size: 20px;
  }
}
.showall-button{
  padding: 10px 30px;
  margin-top: 20px;
  background-color: rgb(228, 88, 19);
  color: white;
  border: none;
  border-radius: 3px;
}
@media (max-width: 1200px){
  .event{
    img{
      height: 200px;
    }
  }
}
@media (max-width:992px){
  .event{
    img{
      height: 150px;
    }
  }
}
@media (max-width:730px){
  .event{
    img{
      height: 120px;
    }
  }
}

@media (max-width:600px){
  .event{
    width: 100%;
    img{
      width: 100%;
      height: auto;
    }
  }
}
